nav
    .container
        .nav-wrapper
            a.brand-logo(href="{{pathFor 'entry'}}") JJ's Website
            ul#nav-mobile.right.side-nav.fixed
                li: a(href="{{pathFor 'entry'}}") Home
                li: a(href="{{pathFor 'vis'}}") Dots
                li: a(href="{{pathFor 'map'}}") Map
                li
                    +atNavButton
            a.button-collapse(href='#', data-activates='nav-mobile')
                i.mdi-navigation-menu