.container.center-align
    .row
            //img.fancybox(width='500', src='/imgs/logo.png', title='JJ is Great')
            a.fancybox(href='/imgs/logo.png', title='JJ is great.')
                img(src='/imgs/logo.png').center-align

    .row
            p.flow-text I've got a lovely bunch of coconuts!
    .row
        .center-btn
            a.waves-effect.waves-light.btn-large(href="{{pathFor 'vis'}}") Lots of dots!
            a.waves-effect.waves-light.btn-large(href="{{pathFor 'map'}}") A map!
    .row
        .col.l6
        span "Aww a kitten!"


